.grid-container {
  margin: 20px;
}

.dashboard-card {
  width: 350px;
  height: 300px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}



.centre-text{
  position: relative;
  text-align: center;
}

.material-icons.md-24 { font-size: 24px; }
.material-icons.md-48 { font-size: 48px; }
