<!DOCTYPE html>
<html lang="en" ng-app="toDoList">
    <head>
        <title>To-Do test app</title>
        <script src="app/lib/angular.min.js"></script>
        <script src="app/lib/angular-route.min.js"></script>
        <script src="app/app.js"></script>
    </head>

    <body>
      <div ng-controller="ListController">
        <input type="text" placeholder="Enter item" ng-model="newitem.desc" ng-required="true" />
        <button type="submit" ng-click="addItem()">Add item</button>
            <p>JSON DATA: {{itemlist}}</p>
      <ul >
        <li ng-repeat="item in itemlist">
          <h3>{{item.desc}}</h3>
          <button type="submit" ng-click="removeItem(item)">Remove Item</div>
        </li>
      </ul>
    </div>
    </body>

</html>
