<!--The content below is only a placeholder and can be replaced.-->
<app-my-nav></app-my-nav>
<div style="text-align:center">
  
  <h1>
    Welcome, {{ title }}!
  </h1>
  
  <app-heroes></app-heroes>

  <div>
    <mat-card>
      <button class="md-button" mat-stroked-button>Admin</button>
      <button class="md-button" mat-stroked-button>Developer</button>
      <button class="md-button" mat-stroked-button>Finance</button>
      <button class="md-button-small" mat-stroked-button>+</button>
    </mat-card>
  </div>
</div>
