<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" [matMenuTriggerFor]="menu">menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </mat-toolbar-row>

<mat-sidenav-container class="example-container" >
  <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
  <span>asdasdasdasdas</span>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>


<router-outlet></router-outlet>